.logo {
  display: flex;
  align-items: center;
  gap: 5px;

  svg {
    // font-size: var(--md-font);
    width: var(--xl-font);
    height: var(--xl-font);
  }

  h1 {
    line-height: 0;
    color: var(--primary-color);
    font-size: var(--md-font);
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
  }
}
